// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


table {
  margin: auto;
  width: 75%;
}

td {
  background-color: #eff5ef;
}

.navigation {
  background-color: #cfe2cf;
  padding: 15px 50px;
  margin: auto;
  width: 100%;
}


