// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ----------------------
// Index page formatting
// ----------------------

.index-table {
  margin: auto;
  width: 60%;
}

.index-table th {
  font-size: 15px;
}

.index-table td {
  background-color: #eff5ef;
}

.navigation-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #cfe2cf;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 30px;
}

// ----------------------
// Edit and new restaurant form display
// ----------------------

.restaurant-form {
  padding: 40px;
  width: 60%;
  margin: auto; 
}

.restaurant-form label{
  float: left;
  width: 130px;
  text-align: right;
  margin: 2px 10px;
}

.restaurant-form input {
  margin-bottom: 10px;
}

// ----------------------
// Show restaurant display
// ----------------------

.show-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 60%;
  padding: 30px;
  gap: 50px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.show-info {
  font-size: 25px;
  padding: 20px;
  border-bottom: 2px dashed black;
}

.votes {
  background-color: #cfe2cf;
  border: 1px solid black;
  padding: 30px;
}

.show-footer {
  margin: auto;
  width: 60%;
  font-size: 15px;
}

// ----------------------
// Summary page
// ----------------------

h1.summary {
  text-align: center;
}



